name=
organism=
version=
source_columns=
target_columns=
edge_columns=
interaction_type=
source_id_column=
source_type=
source_bridgedb=
source_syscode_in=
source_syscodes_out=
source_label_column=
target_id_column=
target_type=
target_bridgedb=
target_syscode_in=
target_syscodes_out=
target_label_column=
